.jumbotron{
    color: teal;
}

.main-container{
    border: solid blueviolet 3px;
    text-align: center;
    margin: 50px auto;
    font-size: 40px;
    height: 150px;
    width: 70%;
}
#remaining-guess-div{
    border: solid rgb(181, 229, 240) 4px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 70%;
}

#underscores{
    border: solid rgb(181, 229, 240) 4px;
    text-align: center;
    margin: 50px auto;
    font-size: 40px;
    height: 150px;
    width: 70%;
}
#right{
    border: solid rgb(181, 229, 240) 4px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 70%;
}

#wrong {
    border: solid rgb(181, 229, 240) 4px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 70%;
} 